.group{
    background: #335;
    width: 180px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 15px;
}
.group input,select{
    background: none;
    border:0;
    color:#fff;
}
.group input{
    padding-left: 10px;
    border-radius: 15px;
}
.group select{
    padding: 15px;
    color: #fff;
    background-color:#335;
    border-radius: 15px
}